// @import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
// @baseFontFamily: 'Nunito Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
// font-family: Stolzl Book, Helvetica, Arial, sans-serif; z-labriary使用的字体
@baseFontFamily: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
@--white: #fff;
@--green: #2ccf6d;
@--CornFlowerBlue: #6495ED;

* {
  margin: 0;
  /* 去掉默认的外边距 */
  padding: 0;
  box-sizing: border-box;
  font-family: @baseFontFamily;
}


html,
body {
  height: 100%;
}


// ::selection {
//   color: pink;
//   background: red;
// }