
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@baseFontFamily: 'Nunito Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
@--white: #fff;
@--green: #2ccf6d;
@--CornFlowerBlue: #6495ED;

html,
body {
  height: 100%;
  margin: 0;
  /* 去掉默认的外边距 */
  font-family: @baseFontFamily;
}

