@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@baseFontFamily: 'Nunito Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
// @baseFontFamily: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;

// z-labriary使用的字体
// font-family: Stolzl Book, Helvetica, Arial, sans-serif;

// chatGPT使用的字体族
// font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");


@--white: #fff;
@--green: #2ccf6d;
@--CornFlowerBlue: #6495ED;

* {
  margin: 0;
  /* 去掉默认的外边距 */
  padding: 0;
  box-sizing: border-box;
  font-family: @baseFontFamily;
}


html,
body {
  height: 100%;
}

// 选中字体的颜色及背景
// ::selection {
//   color: pink;
//   background: red;
// }

// .wrapper {
//   display: grid;
//   height: 800px;
//   grid-gap: 10px;
//   // grid-template-columns: 100px auto 50px;
//   // grid-template-rows: 100px auto 50px;
//   // grid-template-areas:
//   //   "header header header"
//   //   "leftSideBar content rightSideBar"
//   //   "footer footer  footer";

//   grid-template:
//     "header header header" 100px
//     "leftSideBar content rightSideBar" auto
//     "footer footer  footer" 50px / 100px auto 50px;

//   // background: pink;
//   // color: #444;
// }

// .item:nth-child(1) {
//   // background: red;
//   grid-area: header;
// }

// .item:nth-child(2) {
//   // background: blue;
//   grid-area: leftSideBar;
// }

// .item:nth-child(3) {
//   // background: green;
//   grid-area: content;
// }

// .item:nth-child(4) {
//   // background: darkblue;
//   grid-area: rightSideBar;
// }

// .item:nth-child(5) {
//   // background: darkgreen;
//   grid-area: footer;
// }

